.App {
  text-align: center;
  /* padding: 5%; */
  /* background-image: url("/src/data/galaxy-unsplash.jpg"); */
  /* background-repeat: repeat; */
  /* background-size: 100% auto; */
  /* background-position: center; */
  background-color: black;
  padding:2%;
  /* margin: 0; */
}


h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 5px;
}
